.card_background {
  background: #ffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: min-content;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #CD9FDF;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.281);
}