.card_background {
  background: #ffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: min-content;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
}